.place__paragraph {
	margin: 0 0 26px 0;

	font-size  : 18px;
	line-height: 1.611;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	.place__paragraph {
		margin-bottom: 25px;

		font-size  : 16px;
		line-height: 26px;
		/*
		line-height: 163%; Отклонение с макетом (pixel perfect)
		*/
	}
}

@media all and (max-width: 767px) {
	.place__paragraph {
		margin-bottom: 25px;
		padding-left : 16px;
		padding-right: 16px;

		font-size  : 16px;
		line-height: 163%;
	}
}