.cover__title {
	display : block;
	position: relative;

	max-width: 560px;
	margin   : 0 auto;

	font-weight: 900;
	font-size  : 72px;
	line-height: 76px;
}

@media all and (max-width: 767px) {
	.cover__title {
		font-size  : 32px;
		line-height: 35px;
	}
}