.place {
	display: grid;

	grid-template-columns: 460px 1fr;
	gap                  : 0 40px;

	/* Делаю через grid-template-areas, т.к. если у элемента не будет блока с website, то изображение будет напротив заголовка (справа) */

	grid-template-areas: "title url"
											 "pic desc";
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
	.place {
		gap                  : 0 32px;
		grid-template-columns: 440px 1fr;
	}
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	.place {
		gap                  : 0 28px;
		grid-template-columns: 340px 1fr;
	}
}

@media all and (max-width: 767px) {
	.place {
		grid-template-columns: 1fr;

		grid-template-areas:
			"title"
			"url"
			"pic"
			"desc";
	}
}