.intro__title {
	display  : block;
	margin   : 0;
	max-width: 690px;

	font-weight: 900;
	font-size  : 54px;
	line-height: 107%;
}

@media all and (max-width: 767px) {
	.intro__title {
		font-size  : 32px;
		line-height: 109%;
	}
}